{% extends "template.html" %}
{% block content %}
    
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">
          I'm a MSc student at University of Vaasa in Finland studying Automation and Computer Science (DI).
<br /><br />
My expertise lise in full stack software development. Throughout my career I have been involved in many different parts of software development. I have experience in developing both full stack web and mobile software. I also have experience in software testing and containerizing web services.
<br /><br />
When I'm not working, I'm always learning new things. Currently I'm most interested in learning about cloud native technologies such as Docker, Kubernetes and also go programming language. I'm also a big believer in soft skills.
<br /><br />
Other interests: football, MTB, reading and music 
        </p>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}